fastapi==0.115.0
uvicorn[standard]==0.30.0
python-dotenv==1.0.1
groq==0.13.0
google-genai==1.14.0
httpx
pydantic
pydantic-settings
sse-starlette==2.1.0
redis==5.0.0
sqlalchemy==2.0.35
asyncpg>=0.30.0
alembic==1.13.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
email-validator
google-search-results==2.4.2
PyJWT[crypto]
clerk-backend-api
boto3
python-multipart
